/*estilos generales y reset*/
*{
    margin: 0;
    padding:0;
}
body{
    background-color: black;
    color: azure;
}
header, main, footer{
    width: 98%;
    margin: 0 auto;
}

/*encabezado*/
header{
    display: flex;
}
header a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}
h1{
    width: 80%;
    font-size: xx-large;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 /*cuerpo*/
 main{
    background-color: rgb(46, 50, 46);
    height: 200vh;
    padding: 10%;
 }
 /* #productos h5{
    text-align: center;
 } */
#productos span{
    display: block;
    font-weight: bolder;
}

#productos img{
    width: auto;
    max-height: 200px;
}
  footer{
    height: 10vh;
 }